@import "./styles.css";

.main-header {
  background-image: url(../img/contacHead.jpg);
  height: 50rem;
}
.title {
  text-align: center;
  padding: 4rem 0;
}
.form {
  display: block;
  margin: 0 auto;
  width: min(100%, 32rem);
}
.form label {
  display: block;
  padding: 0.7rem 0 0.5rem 0;
  font-family: var(--hFont);
}
.input {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.5px solid rgba(128, 128, 128, 0.5);
}
.form input:focus {
  border-color: var(--vblue);
}
textarea {
  width: 100%;
  max-width: 100%;
  height: 15rem;
  max-height: 15rem;
  min-height: 15rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  border: 0.5px solid rgba(128, 128, 128, 0.5);
}
.policy-link {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 5rem;
  color: var(--gray);
}
.policy-link b {
  color: var(--vblue);
  text-decoration: underline;
}
.btnForm {
  margin-bottom: 7rem;
  background-color: var(--vblue);
  color: var(--wh);
  font-family: var(--txtFont);
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  width: 20rem;
  border-radius: 10rem;
  font-size: 1.3rem;
  font-weight: 300;
  transition: 0.3s;
  display: block;
  margin: auto;
}
.btnForm:hover {
  color: var(--wh);
  background-color: var(--gray);
}
@media (min-width: 768px) {
  .title h3 {
    font-size: 5rem;
  }
}
.logo-contact-info {
  text-align: center;
  margin: 8rem 0;
}
.logo-contact-info i {
  margin-right: 1rem;
}
.logo-contact-info img {
  width: 16rem;
}
.logo-contact-info p {
  font-family: var(--hFont);
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .container-grid {
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .logo-contact-info {
    position: relative;
    top: -3rem;
  }
  .social-net {
    margin-top: 15rem;
  }
}
