@import "/css/styles.css";
.main-header {
  height: 50rem;
  background-image: url(/img/prodHead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  padding: 6rem 0 2rem;
  text-transform: uppercase;
  border-bottom: 0.5px solid var(--gray);
  margin-bottom: 2rem;
}

.title-left {
  text-align: left;
}

.title-right {
  text-align: right;
}

.grid-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  max-width: 30rem;
  margin: 0 auto;
}

.grid-gallery__card img {
  display: block;
  width: 100%;
  max-width: 25rem;
  height: 22rem;
  max-height: 22rem;
  margin: 0 auto;
  cursor: pointer;
}
.grid-gallery__card img:hover {
  box-shadow: 0px 10px 10px 0px rgba(24, 60, 84, 0.5);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(24, 60, 84, 0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(24, 60, 84, 0.5);
  translate: 0.2s ease;
  opacity: 0.9;
}

@media (min-width: 700px) {
  .grid-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    max-width: 80rem;
    margin: 0 auto;
  }
}
@media (min-width: 900px) {
  .grid-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3rem;
    max-width: 100rem;
    margin: 0 auto;
  }
}
.card-txt {
  text-align: center;
  padding: 3.5rem 0 5rem;
  text-transform: uppercase;
  font-family: var(--hFont);
  font-size: 1.4rem;
  font-weight: 500;
}
